body {
    background-color: #000;
        text-align: center;
        width: 214px;
        margin: 0 auto;
}

p {
    color: #fff;
    font-family: "Helvetica Neue, Helvetica, Arial, sans-serif";
    font-size:14px; 
}

input[type="button"], input[type="submit"], button{
        width: 50px;
        height: 50px;
        margin: 2px 0;
}

input[type="text"] {
	height: 50px;
	width: 100%;
	background-color: #999;
	color: #fff;
	padding: 12px 20px;
    margin-top: 100px;
    margin-bottom: 4px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #777;
}

#eff{
    height: 50px;
	width: 100%;
	background-color: orangered;
	color: #fff;
	padding: 12px 20px;
    margin-bottom: 4px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #000000;
}

#division, #addition, #soustraction, #multiplication{
    background-color: #55ff00; 
    color: #fff;
    border-radius: 4px;
    border: 1px solid #000000
}

#egal{
    background-color: #ff0000;
    color: #fff;
    border-radius: 4px;
    border: 1px solid #000000
}