body{
    margin: 0 auto;
    width: 100%;
    height: 100%;
    background-color: #000;
    color: #fff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
}

a{
    color: #000;
    text-decoration: none;
}

.btn{
    width: 75%;
    margin-bottom: 10px;
    max-width: 220px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
}