body{
    margin: 0 auto;
    width: 100%;
    height: 100%;
    background-image: url("img/bglog.jpg");
    color: #fff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
}

.form-signin{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-control{
    position: relative;
    height: auto;
    padding: 10px;
    font-size: 16px;
    max-width: 300px;
    width:67%;

}

.btn{
    width: 75%;
    margin-bottom: 10px;
    max-width: 300px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    margin-top:50px;    
}

